*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Fjalla One', sans-serif; */
}

html, body {
    height: 100%;
    background-color: lightgrey;
    /* position: relative; */
    font-family: 'Fjalla One', sans-serif;  
    flex-direction: column;
}

.clear {
    clear: both;
}

header {
    height: 30px;
    background-color: rgb(194, 108, 38);  /* (134, 179, 50) */
}

/* .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    margin-top: 20px;
    padding: 0 3%;
    height: calc(100% - 50px);
    background-color: lightgrey;
    border: 1px solid black;
} */

.copy {
    position: relative;
    margin-top: 20px;
    margin-left: 1%;
    background-image: url(../images/Muscle-1.png);
    background-size: 41%;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
    width: 69%;
    min-height: 600px; /* https://stackoverflow.com/questions/147528/how-do-i-force-a-div-block-to-extend-to-the-bottom-of-a-page-even-if-it-has-no-c */
    padding: 20px;
    float: left;
    background-color: rgb(255,255,255);
}

.copy .text {
    position: relative;
    width: 63%;
}

.copy .text h1 {
    color: black;
    font-size: 32px;
    font-family: 'Roboto Slab';
}

.copy .text h3 {
    font-size: 23px;
    font-weight: normal;
    color: #999;
    width: 85%;
    margin-top: 16px;
    font-family: "Fira Sans";
}

.copy .text ul {
    font-size: 16px;
    color: #999;
    width: 85%;
    margin-top: 40px;
}

.copy .text ul li {
    margin-bottom: 10px;
    font-family: "Fira Sans";
    list-style: none;
}

.myForm {
    /* height: calc(100% - 50px); */
    margin-top: 20px;
    width: 29%;
    float: left;
    background-color: rgb(194, 108, 38);  /* (134, 179, 50) */
    padding: 20px 10px;
    min-height: 600px; /* https://stackoverflow.com/questions/147528/how-do-i-force-a-div-block-to-extend-to-the-bottom-of-a-page-even-if-it-has-no-c */
}

.myForm h1 {
    font-family: 'Roboto Slab';
    font-size: 32px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.myForm p {
    color: rgb(216, 208, 208);
    text-align: center;
    font-family: "Fira Sans";
}

dialog {
    font-family: "Fira Sans";
    position: relative;
    margin: 0 auto;
    margin-top: 24px;
    padding: 10px 5px;
    background-color: white;
    border: none;
    border-radius: 3px;
    color: rgb(61, 59, 59);
    text-align: center;
}

.myForm .hurry {
    margin-top: 24px;
}

form {
    /* position: relative; */
    /* display: inline-block;  Wenn Sie 'inline-block' drin der Elternteil Element festlegen, können Sie nicht die Größe des 'Input' ändern. */
    margin-top: 24px;
}

input {
    /* position: relative; */
    display: block;
    margin-bottom: 8px;
    border: 1px solid #999;
    padding: 8px; 
    border-radius: 3px;
    background-color: white;
}

input:focus {
    border: 1px solid #ccc;
    outline: none;
}

input[type=text] {
    width: 100%; /* um die Breite des Elements zu ändern, muss ich den Prozentsatz festlegen */
    border: 0;
}

input[type=submit] {
    width: 100%;
    cursor: pointer;
    border: 0;
    font-size: 24px;
    color: rgb(221, 217, 217);
    background-color: green;
}

@media screen and (max-width: 800px) {
    .copy {
        /* display: block; */
        width: 100%;
    }
    .myForm {
        width: 100%;
        /* margin: 0 auto; */
        margin-top: 10px;
    }
}



