*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}

html, body {
    height: 100%;
    background-color: lightgrey;
    position: relative;
}

.clear {
    clear: both;
}

header {
    height: 30px;
    background-color: blue;
}

.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 1%;
    border: 1px solid black;
    height: calc(100% - 30px);
    background-color: lightgrey;
}

.copy {
    height: 100%;
    width: 49.2%;
    background-color: cornflowerblue;
    /* left: 20px; */
    float: left;
}

.myForm {
    height: 100%;
    /* right: 20px; */
    width: 49.2%;
    background-color: green;
    float: right;
}

input {
    display: block;
    margin-bottom: 15px;
    border: 1px solid #999;
    padding: 8px;
    border-radius: 3px;
}

input:focus {
    border: 1px solid #ccc;
    outline: none;
}

input[type=submit] {
    width: 100%;
    cursor: pointer;
}