*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}

html, body {
    height: 100%;
    background-color: lightgrey;
    position: relative;
}

.clear {
    clear: both;
}

header {
    height: 30px;
    background-color: blue;
}

/* .container {
    position: relative;
    margin-top: 20px;
    padding: 0 1%;
    border: 1px solid black;
    height: 570px;
    background-color: lightgrey;
} */

.copy {
    position: absolute;
    height: calc(100% - 30px);
    width: 48%;
    background-color: cornflowerblue;
    left: 20px;
}

.myForm {
    position: absolute;
    height: calc(100% - 30px);
    right: 20px;
    width: 48%;
    background-color: green;
}

input {
    display: block;
    margin-bottom: 15px;
    border: 1px solid #999;
    padding: 8px;
    border-radius: 3px;
}

input:focus {
    border: 1px solid #ccc;
    outline: none;
}

input[type=submit] {
    width: 100%;
    cursor: pointer;
}